<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-7 offset-2">
    <h3>Edit your Details</h3>
    <form method="POST" action="/lawyers/<%= lawyer._id %>?_method=PUT">
        <div class="mb-3">
            <lable for="name" class="form-label">Name</lable>
            <input 
            name="lawyer[name]" 
            value="<%= lawyer.name %>" 
            type="text" 
            class="form-control">
        </div>
        <div class="mb-3">
            <lable for="specialization" class="form-label">Specialization</lable>
            <input 
            name="lawyer[specialization]" 
            value="<%= lawyer.specialization %>" 
            type="text" 
            class="form-control">
        </div>
        <div class="mb-3">
            <lable for="image" class="form-label">Image Link</lable>
            <input 
            name="lawyer[image]" 
            value="<%= lawyer.image %>" 
            type="text"
            class="form-control">
        </div>
        <div class="mb-3">
            <lable for="experience" class="form-label">Work Experience</lable>
            <input 
            name="lawyer[experience]" 
            value="<%= lawyer.experience %>" 
            type="number"
            class="form-control">
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <lable for="phone" class="form-label">Phone No.</lable>
            <input 
            name="lawyer[contact_info][phone]" 
            value="<%= lawyer.contact_info.phone %>"  
            type="text"
            class="form-control">
        </div>
        
        <div class="mb-3 col-md-8">
            <lable for="email" class="form-label">Email</lable>
            <input 
            name="lawyer[contact_info][email]" 
            value="<%= lawyer.contact_info.email %>"  
            type="text"
            class="form-control">
        </div>
        </div>
        <div class="mb-3">
            <lable for="city" class="form-label">City</lable>
            <input 
            name="lawyer[city]" 
            value="<%= lawyer.city %>"  
            type="text"
            class="form-control">
        </div>
       
        <div class="mb-3">
            <lable for="state" class="form-label">State</lable>
            <input 
            name="lawyer[state]" 
            value="<%= lawyer.state %>"  
            type="text"
            class="form-control">
        </div>
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br/><br/>
    </form>
</div>
</div>
